@charset "UTF-8";
.container {
  max-width: 1110px;
  margin: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
span,
div {
  margin: 0;
  padding: 0;
}

.w-100 {
  width: 100%;
}

img {
  max-width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.space-btwn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-2 {
  width: 16.66666666%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333333%;
}

.col-12 {
  width: 100%;
}

.form__input {
  padding: 11px;
  font-size: 18px;
  outline: none;
  border: none;
}

.form__button {
  border: 0;
  outline: none;
  padding: 0 7px;
  font-family: "Oswald", sans-serif;
  padding: 11px 15px;
}

.is-none {
  opacity: 0;
  height: 0px;
}

.space-btwn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 1;
  width: 100%;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero {
  background: url(../img/head-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 100px 0 190px;
}

.hero__title, .hero__subtitle {
  font-family: "Oswald", sans-serif;
  text-align: center;
  max-width: 730px;
  margin: 0 auto 40px;
}

.hero__title {
  font-size: 64px;
  margin-top: 112px;
}

.hero__subtitle {
  margin-top: 35px;
  font-size: 18px;
  text-transform: uppercase;
}

.numbers {
  font-family: "Oswald", sans-serif;
  background: #f7f7f7;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 57px 130px 57px 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -100px;
}

.numbers__box {
  text-align: center;
  color: #999999;
  width: 190px;
}

.numbers__red {
  color: red;
  font-size: 72px;
  font-weight: bold;
}

.numbers__year {
  color: black;
  font-size: 36px;
}

.projects {
  font-family: "Oswald", sans-serif;
  color: #404149;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.projects__wrapper {
  overflow: hidden;
}

.projects__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 0 -15px;
}

.projects__item {
  min-width: 33.333%;
}

.projects__arena {
  margin: 0 10px;
}

.projects__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.projects__button--prev {
  background-color: #f7654a;
  padding: 7px 15px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 5px 1px #9b9696;
          box-shadow: 0 0 5px 1px #9b9696;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin: 0 15px;
}

.projects__button--next {
  background-color: #f7654a;
  padding: 7px 15px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 5px 1px #9b9696;
          box-shadow: 0 0 5px 1px #9b9696;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin: 0 15px;
}

.projects__title {
  font-size: 43px;
  text-align: center;
  margin-bottom: 25px;
}

.projects__name {
  font-size: 24px;
  margin: 60px 0 30px 0;
  position: relative;
}

.projects__name::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 55px;
  background: #f7654a;
  top: -20px;
  left: 0;
}

.projects__discription {
  font-size: 16px;
  color: #999999;
}

.redline {
  color: white;
  background: #F7654A;
  margin-top: 150px;
  font-family: 'Oswald', sans-serif;
  padding: 35px 0;
}

.redline__title {
  font-size: 48px;
}

.redline__discription {
  font-size: 24px;
}

.redline__img {
  vertical-align: middle;
}

.jobs {
  font-family: "Oswald", sans-serif;
  margin-top: 150px;
}

.jobs__sector {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jobs__box {
  width: 350px;
  height: 250px;
  background: #f7f7f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}

.jobs__title {
  font-size: 43px;
  text-align: center;
}

.jobs__img {
  padding: 59px 149px 30px 149px;
}

.jobs__discription {
  font-size: 21px;
  text-align: center;
  padding: 0px 92px 59px 86px;
}

.portfolio {
  margin-top: 150px;
}

.portfolio__img {
  width: 100%;
}

.partners__title {
  font-size: 43px;
  text-align: center;
  color: white;
}

.partners {
  background: #404149;
  padding: 100px 0 100px 0;
  font-family: 'Oswald', sans-serif;
}

.partners__img {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.answers {
  margin-top: 150px;
  height: 600px;
}

.answers__title {
  font-family: 'Oswald',sans-serif;
  font-size: 36px;
  text-align: center;
}

.answers__dropdown {
  max-width: 730px;
  text-align: left;
}

.answers .drop {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.answers .drop__up {
  font-family: 'Oswald',sans-serif;
  color: #F7654A;
  font-size: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.answers .drop__down {
  font-family: 'Open Sans',sans-serif;
  color: #999999;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
  margin: 10px 0 25px;
}

.answers .drop__down--active {
  display: block;
  position: relative;
  margin-left: 30px;
}

.answers .drop__down--active::before {
  position: absolute;
  left: -30px;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #F7654A;
}

.reviews {
  padding-top: 100px;
}

.reviews__title {
  font-size: 43px;
  text-align: center;
  font-family: 'Oswald',sans-serif;
}

.reviews__sector {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__box {
  font-family: 'Open Sans',sans-serif;
}

.reviews_author {
  font-family: 'Oswald',sans-serif;
  padding-top: 30px;
  font-size: 21px;
}

.reviews .box__content {
  position: relative;
  padding: 79px 30px 38px 30px;
  font-size: 14px;
  width: 350px;
  height: 259px;
  background: #f7f7f7;
  color: #999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reviews .box__content::before {
  content: "“";
  font-family: 'Oswald';
  position: absolute;
  font-size: 96px;
  color: #F7654A;
  top: 0px;
  left: 0;
}

.reviews .red-fonts {
  color: #F7654A;
  font-size: 21px;
}

.footer {
  background-color: #404149;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans";
  text-align: center;
  padding-top: 100px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.footer__title {
  font-size: 43px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 25px;
}

.footer__sector {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__box {
  width: 255px;
  font-family: "Oswald", sans-serif;
  height: 241px;
  font-size: 24px;
  font-weight: 500;
}

.footer__content {
  color: #999999;
}

.footer img {
  height: 26px;
}

.footer .mail-span {
  color: #f7654a;
}

@media screen and (max-width: 1200px) {
  .projects {
    padding: 0 25px;
  }
  .projects__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .col-4 {
    width: 100%;
  }
}
