.projects {
  font-family: "Oswald", sans-serif;
  color: #404149;
  justify-content: space-between;
  margin-top: 100px;
  &__wrapper {
    overflow: hidden;
  }
  &__track {
    display: flex;
    transition: 0.4s;
    margin: 0 -15px;
  }
  &__item {
    min-width: 33.333%;
  }
  &__arena {
    margin: 0 10px;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
  &__button--prev {
    background-color: #f7654a;
    padding: 7px 15px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px 1px rgb(155, 150, 150);
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    margin: 0 15px;
  }
  &__button--next {
    background-color: #f7654a;
    padding: 7px 15px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px 1px rgb(155, 150, 150);
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    margin: 0 15px;
  }
  &__title {
    font-size: 43px;
    text-align: center;
    margin-bottom: 25px;
  }
  &__name {
    font-size: 24px;
    margin: 60px 0 30px 0;
    position: relative;
  }
  &__name::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 55px;
    background: #f7654a;
    top: -20px;
    left: 0;
  }
  &__discription {
    font-size: 16px;
    color: #999999;
  }
}
