.container {
  max-width: 1110px;
  margin: auto;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
span,
div {
  margin: 0;
  padding: 0;
}
.w-100 {
  width: 100%;
}
img {
  max-width: 100%;
}

.flex {
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.space-btwn {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.col-2 {
  width: 16.66666666%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-5 {
  width: 41.666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333%;
}
.col-12 {
  width: 100%;
}
.form {
  &__input {
    padding: 11px;
    font-size: 18px;
    outline: none;
    border: none;
  }
  &__button {
    border: 0;
    outline: none;
    padding: 0 7px;
    font-family: "Oswald", sans-serif;
    padding: 11px 15px;
  }
}
.is-none {
  opacity: 0;
  height: 0px;
}
.space-btwn {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
