.contacts{
    text-align: center;
    padding-top: 100px;
}
.contacts__title{
    font-size: 43px;
    font-family: 'Oswald',sans-serif;
}
.contacts__sector{
    justify-content: space-around;
}
.contacts__box{
    width: 255px;
    font-family: 'Oswald',sans-serif;
    height: 241px;
    font-size: 24px;
    font-weight: 500;
}
.contacts__content{
    color: #999999;
}
.mail-span{
    color: #F7654A;
}