.header{
    background: url(./img/head-bg.png);
    color: white;
    min-height: 840px;
    padding-top: 30px;
    box-sizing: border-box;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.bigwords,
.lilwords{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    max-width: 730px;
    margin: auto;
}
.bigwords{
    font-size: 64px;
    margin-top: 112px;
}
.lilwords{
    margin-top: 35px;
    font-size: 18px;
    text-transform: uppercase;
}