.jobs{
    font-family: 'Oswald', sans-serif;
    margin-top: 150px;
}
.jobs__sector{
    justify-content: space-between;
}
.jobs__box{
    width: 350px;
    height: 250px;
    background: #f7f7f7;
    box-sizing: border-box;
    margin-top: 30px;
}
.jobs__title{
    font-size: 43px;
    text-align: center;
}
.jobs__img{
    padding: 59px 149px 30px 149px;
}
.jobs__discription{
    font-size: 21px;
    text-align: center;
    padding: 0px 92px 59px 86px;
}


.portfolio{
    margin-top: 150px;
}
.portfolio__img{
    width: 100%;
}