.reviews{
    padding-top: 100px;
}
.reviews__title{
    font-size: 43px;
    text-align: center;
    font-family: 'Oswald',sans-serif;
}
.reviews__sector{
    justify-content: space-between;
}
.reviews__box{
    font-family: 'Open Sans',sans-serif;
}
.review__author{
    font-family: 'Oswald',sans-serif;
    padding-top: 30px;
    font-size: 21px;
}
.box__content{
    position: relative;
    padding: 79px 30px 38px 30px;
    font-size: 14px;
    width: 350px;
    height: 259px;
    background: #f7f7f7;
    color: #999999;
    box-sizing: border-box;
}
.box__content::before{
    content: "“";
    font-family: 'Oswald';
    position: absolute;
    font-size: 96px;
    color: #F7654A;
    top: 0px;
    left: 0;
}
.red-fonts{
    color: #F7654A;
    font-size: 21px;
}