.redline{
    color: white;
    background: #F7654A;
    margin-top: 150px;
    font-family: 'Oswald', sans-serif;
    padding: 35px 0;
    &__title{
    font-size: 48px;
    }
    &__discription{
    font-size: 24px;
    }
  
    &__img{
    padding: 14px 15px 15px 0;
    vertical-align: middle;
    }
}